.addArea {
  height: 100%;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.addBookArea {
  height: 90%;
  width: 80%;
  border-radius: 20px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #e8e8e8;
}
.gridContainer {
  height: 80%;
  width: 100%;
  display: grid;
  gap: 30px;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: repeat(5, 1fr);
}
.addtext,
.addtextR,
.addtextB {
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #c4c4c4;
}
.addtextR {
  grid-row: 3/5;
}
.addtextB {
  width: 50%;
}
.recupTxtR {
  width: 70%;
  height: 80%;
  border: none;
  padding: 10px;
  border-radius: 10px;
}
.recupTxt {
  width: 70%;
  height: 60%;
  border: none;
  padding: 10px;
  border-radius: 10px;
}
.recupBtn {
  padding: 10px;
  border-radius: 10px;
}
