* {
  margin: 0%;
  padding: 0%;
}

body {
  height: 100vh;
}

.logo-img {
  height: 40px;
}
.header {
  width: 100%;
  height: 8%;
  background-color: rgb(255, 255, 255);
}
.containerH {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.listH ::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background: #0c15ff;
  transform: scale(0);
  transition: transform 0.2s ease-in-out;
}

.listH :hover::after {
  transform: scale(1);
}

.listH {
  width: 60%;
  display: flex;
  justify-content: space-around;
  list-style: none;
  color: rgb(0, 0, 0);
  font-family: "Alata", sans-serif;
}

.contact-button {
  width: 71px;
  height: 22px;
  background-color: #0c15ff;
  border-radius: 30px;
  background-size: 30px;
  color: white;
  font-family: "Alata", sans-serif;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
